{% extends 'board_games/homepage.html' %}

{% block content %}
<ul>
    <li> {{ boardgame }} </li>
    <p> Selitys:  {{ boardgame.selitys }} </p>
    <p> Luontipvm: {{ boardgame.date }} </p>
</ul>

<p> Loaned at : </p>
{% if is_loaned == False %}
    <form action="{% url 'board_games:boardgame' boardgame.id %}" method='post'>
        {% csrf_token %}
        <button name="submit">Loan</button>
    </form>

{% else %}
    {{ boardgame.loan_date|date:'M d, Y H:i' }}
    <p> This game is currently being loaned by: </p>
    {{ boardgame.boardgamer }} 
{% endif %}
<p> Last edited : </p>
{{ boardgame.edit_date|date:'M d, Y H:i' }}

{% endblock content %}