<p> Boardgame loan service</p>
<a href="{% url 'board_games:homepage' %}">|Homepage|</a>
<a href="{% url 'board_games:boardgames' %}">|Boardgames|</a>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">|Register|</a>
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}

<a href="{% url 'board_games:loans' %}">|Loaned games|</a>

{% block content %}
<p> Homepage </p>
{% endblock content %}
